body.publik {
    padding-top: 50px;
    padding-bottom: 20px;
}
.publik .unram-splash {
    background: #eee url('../images/unram-splash.jpg' ) no-repeat 0px -190px;
    color: #fff;
    text-shadow: 0 0 10px #7E7E7E;
}
.publik .form-masuk {
    width: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.publik footer {
    text-align: center;
    font-size: 10px;
    color: #555;
}